export(dbn.dnn.train)
export(load.mnist)
export(nn.predict)
export(nn.test)
export(nn.train)
export(rbm.down)
export(rbm.train)
export(rbm.up)
export(sae.dnn.train)

importFrom("grDevices", "gray")
importFrom("graphics", "image")
importFrom("stats", "runif")
